@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

body{
    margin:0;
    padding: 0;
    color: #445A64;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#wrapper{
    width: 100%;
    margin:0 auto;
}



header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(1, 17, 68, 0.5)), url("assets/background2.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#mobile_icon{
    text-align: right;
}


.wrap1{
    max-width: 1100px;
    margin:auto;
}

.wrap{
    padding-top: 3%;
    padding: 7%;
    margin:auto;
}

.wrap1a,.wrap1a-large{
    padding: 3%;
    padding-top: 1%;
    padding-right: 3%;
    margin:auto;
}

.wrap2{
    padding: 6%;
    margin:auto;
}


.wrap3{
    padding: 2% 7% 4% 7% ;
    margin:auto;
}

.wrap6{
    padding: 6%;
    margin:auto;
}

.wrap8{
    padding-top: 3%;
    padding: 7%;
    padding-bottom: 1%;
    margin:auto;
}

.wrap10{
    padding-top: 3%;
    padding: 7%;
    padding-bottom: 0%;
    margin:auto;
}

.wrap11{
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin:auto;
}

.wrap11-mobile{
    padding:4%;
    margin:auto;
    justify-content: center;
}

.bord1,.bord1a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2.5%;
}

.logo{
    width: 20%;
}


.logo img{
    float:left;
}

.nav-area{
    list-style: none;
    padding-right: 2%;
}

.nav-area ul{
    list-style: none;
}

.nav-area ul li{
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    float: left;
    position: relative;
}

.nav-area ul li a{
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: block;
}

.nav-area ul li a:hover,
.nav-area ul li a.active{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid #F97794;
}

.nav-area ul ul{
    position: absolute;
    display: none;
}

.nav-area ul li:hover >ul{
    display: block;
    margin: 0px;
    padding: 0px;
}

.nav-area ul ul li{
    background-color: white;
    border: 1px solid #D0D0D0;
    border-radius: 1px;
    font-size: 14px;
    font-weight: bold;

}

.nav-area ul ul li:hover{
    background-color: #EE7892;
    color: #FFFFFF;
}

.title1-mobile {
    color: white;
    margin-top:18% ;
    padding: 1%;
    float: left;
    width:100%;
    height: auto;
    position: relative;
}

.heading  {
    font-size: 63px;
    text-align: left;
    line-height: 76px;
    font-weight: bold;
}

.paragraph {
    font-size: 16px;
    padding-left: 5px;
    text-align: left;
}

.button,.button1 {
    background-color: #F97794; /* Green */
    border: none;
    color: white;
    padding: 15px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px;
}

.button9 {
    background-color: #F97794; /* Green */
    border: none;
    color: white;
    padding: 15px;
    width:140px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 40px;
}

  /* 2nd Section  */
  .section2{
    background-image:url("assets/BG/bg-1.svg");
    background-size: cover;
    background-position: center;
  }

  .space2{
      margin-bottom: 10px;
  }

  .text{
    text-align: center;
    justify-content: center; 
  }

  .text4-2a{
      margin-top: 8%;
    text-align: center;
    justify-content: center; 
  }

  .text2{
    text-align: center;
    justify-content: center;
  }

  .text2 h2{
    font-weight: bold;
    }


  .text2a{
    padding-bottom: 2%;
  }

  .text7{
    padding-bottom: 4% ;
    text-align: center;
    justify-content: center; 
  }

  .text7 h2{
      font-weight: bold;
  }

.bord{
    display: flex;
}  

.bord2{
    display: flex;
} 

.box1{
    display: block;
    position: relative;
    width: 33.33%;
    background-color: #FFFFFF;
    border: 1.5px solid #D0D0D0;
    border-radius: 5px;
    margin: 10px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box1:hover{
    border: 1.5px solid #F97794;
    box-shadow: 0 0 17px 0 rgba(146, 146, 146, 0.5);
    overflow: inherit;
}

.box1 h5{
    padding: 3%;
}

.head2{
    padding: 4%;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.heading1  {
    font-size: 80px;
    line-height: 60px;
}

.paragraph1 {
    color: #445A64;
    font-size: 14px;
    font-weight: 500;
}

.paragraph2a {
    color: #445A64;
    font-size: 14px;
    padding-bottom: 5%;
}

.oval {
    background-color: #FAE3E3;
    border-radius: 100%;
    margin: auto;
    width: 60px;
    height: 60px;  
    justify-content: center;
    align-items: center;
}

.oval img{
    padding: 18px;
    justify-content: center;
    text-align: center;
}

.button1{
    margin: 2%;
    width: 150px;
}

.text22{
    padding: 5%;
    padding-bottom: 3%;
  }
  /* 3rd Section  */
 

  .text3{
    text-align: center;
    justify-content: center;
  }

  .text3 h2{
      font-weight: bold;
  }
.box2{
    display: block;
    position: relative;
    width: 25%;
    margin: 10px;
    justify-content: left;
    text-align: left;
}

.head3{
    padding-top: 8px;
    font-size: 16px;
    font-weight: bold;
}

.paragraph3{
    padding-top: 14px;
    font-size: 14px;
}

.oval3 img{
    padding-top: 18px;
    justify-content: center;
    text-align: center;
}

  /* 4th Section  */

.section4{
    background-image:url("assets/BG/bg-2.svg");
    background-size: cover;
    background-position: center;
}  

.text h2{
    font-weight: bold;
}
  

  .box4{
      margin-bottom: 15%;
    display: block;
    position: relative;
    width: 33.33%;
    justify-content: center;
    align-items: center;
}

.head4{
    color: #263238;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}


.oval4 img{
    padding: 14px;
    padding-bottom: 0%;
    width: 90%;
    height: 90%;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}



.oval4-4 img{
    width: 100%;
    height: auto;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.oval4-hover{
    display: none;
}

.oval4:hover +
.oval4-hover{
    position: absolute;
    border-radius: 5px;
    width: 90%;
    padding: 10%;
    border: none;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0 0 0 / 68%);
    color: white;
    display: block;
    transition: 0.7s;
    text-align: center;
}



.oval5{
    margin-left: 15%;
    padding: 2%;
}

.oval5,.oval55{
    border: 1px solid transparent;
    padding: 2%;
}

.oval5 img{
    margin-left: 50%;
}


.oval55 img{
    margin-right: 2px;
}

.oval5:hover,.oval55:hover{
    border-radius: 5px;
    border: 1px solid #F97794;
    box-shadow: 0 0 8px 0 rgba(146, 146, 146, 0.5);
}
.oval6{
    background-color: yellowgreen;
    font-size: 12px;
    width: 50%;
}

.box6{
    display: block;
    position: relative;
    padding-top: 3%;
    width: 20%;
    justify-content: center;
    text-align: center;
}

.box6a-mobile{
    display: block;
    position: relative;
    width: 25%;
    justify-content: center;
    text-align: center;
}

.te1{
    font-size: 10px;
}

.box5{
    display: block;
    width: 90%;
    margin: 5px;
}

.bord p{
    font-size: 12px;
}

.bord p{

    padding-left: 22%;
    
    align-items: center;
}



.head5{
    padding: 6%;
    margin-left: 12%;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}

.head55{
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 16px;
    font-weight: bold;
}

.bord7{
    padding: 4%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.dot1 {
    margin-left: 2%;
    height: 12px;
    width: 12px;
    background-color: #EE7892;
    border-radius: 50%;
}

.dot {
    margin-left: 2%;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
}

/* 5th Section  */

.section5{
    background-color: #EE7892;
}

.text5{
    color: white;
}

.box7{
    display: block;
    position: relative;
    width: 25%;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    margin: 1%;
    padding: 2%;
    font-weight: bold;
    color: white;
    justify-content: center;
    text-align: center;
}

.box7 h5{ 
    font-weight: bold;
}

.oval6 {
    margin: 4%;
    margin-top: 8%;
    margin-left: 38%;
    background-color: #FAE3E3;
    border-radius: 100%;
    width: 60px;
    height: 60px;  
}

/* 6th Section  */



.box66{
    display: block;
    position: relative;
    width: 50%;
    border: 1px solid transparent;
    box-shadow: 0 0 8px 0 rgba(146, 146, 146, 0.5);
    border-radius: 5px;
    margin: 2%;
    padding: 2%;
}

.oval66{
    padding: 2%;
    width: 35%;
}

.oval66 img{
    margin-left: 10%;
    border-radius: 100%;
    width: 80%;
    height: 100%;
}

.head66{
    width: 65%;
    padding-top: 8%;
}

.head66 h5{
    font-weight: bold;
}

.paragraph66 {
    margin-left: 4%;
}

/* 7th Section  */

.section7{
    background-color: #FAFAF6;
}

.link-text{
    outline: none;
}

.space7 img {
    padding:2%;
    margin-left: 40%;
    width: 20%; 
    height:20%;
}

.box77{
    margin-bottom: 15%;
    display: block;
    position: relative;
    width: 25%;
    margin-right: 4%;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.box77a{
    margin-bottom: 15%;
    width: 90%;
  display: block;
  border: 1px solid #D0D0D0;
    border-radius: 5px;
 
}

.bord7a{
    margin: 3%;
}

.bord-m{
    display: flex;
}

.logo-mob{
    float: right;
}

.bord8a{
    display: flex;
    margin-left: 2px;
}

.space7{
    padding: 4%;
    justify-content: center;
    text-align: center;
}

.space7 h6{
    font-weight: bold;
}

.box7 img{
    margin: 4%;
} 



/* 8th Section  */

#icons-style5a{
    font-size: 52px;
}

#icons-style5b{
    font-size: 42px;
    padding: 2%;
    padding-bottom: 4%;
}

#icons-style8{
    font-size: 15px;
    padding-left: 5px;
    padding-right: 3px;
    color: #D0D0D0;
}

#icons-style8a{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 3px;
    color: #D0D0D0;
}

#icon-style9{
    padding-left: 10px;
    color: #EE7892;;
}


.oval8 img{
    margin: auto;
    height: 40%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.pad{
    display: block;
    width: fit-content;
}

.oval8-mobile img{
    margin: auto;
    width: 80%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.oval8-mobile1 img{
    
    padding: 0% 4%;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.space-mobile{
    padding: 0% 1% 0% 1%;
}

.oval8-mobile2 img{
    margin: auto;
    width: 70%;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}


.oval8a{
    height: 100%;
}

.box8{
    width: 33.33%;
}

.paragraph8 {
    margin-top: 2%;
    padding: 2%;
    color: #544837;
    font-size: 17.44px;
}

.paragraph88 {
    padding: 2%;
    padding-top: 1%;
    color: #544837;
    font-size: 17.44px;
    font-weight: bold;
}

.paragraph88:hover{
    color: #EE7892;
}

.space4{
    padding: 3%;
    font-weight: bold;
}

.space4a i{
    width: 100%;
    height: 100%;
}

.space8{
    padding: 1%;
}

.space8ab{
    font-size: 10px;
}



/* 9th Section  */

.section9{
    background-color: #F7F9FF;
}

.oval9{
    height: 100%;
}

.space9{
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 0%;
    padding-right: 0%;
    width: 100%;
}

.space9ab{
    padding-top: 3%;
    width: 20%
}

.space9ab img{
    margin-top: 2%;
}

.space9ab-text{
    padding-top: 1%;
    padding-bottom: 0%;
}

.head9{
    padding: 2%;
    font-weight: bold;
}

.text9{
    font-size: 12px;
    color: #EE7892;
}


.oval8 input{
    margin-top: 2%;
    padding: 12px;
    width: 95%;
    border-radius: 25px;
    outline: none;
    color:#D0D0D0;
    border:solid 1px #D0D0D0;

}

input[type=text]{
     color: #a0d18c;
     padding-left: 10px;
    justify-content: center;
}

.box99{
    display: block;
    position: relative;
    width: 100%;
}

.box9{
    display: block;
    position: relative;
    width: 48.8%;
}


.oval8 textarea{
    margin-top: 2%;
    padding: 18px;
    padding-bottom: 0%;
    width: 95%;
    border:solid 1px #a0d18c;
    outline: none;
}

.oval8 button{
    margin-top: 1%;
}



/* 10th Section  */

.title2 {
    width: 55%;
}

.heading2  {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    line-height: 25px;
}

.heading10  {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 25px;
}

.title3 {
    width: 45%;
    margin-left: 10%;
    position: relative;
}

.paragraph2 {
    font-size: 16px;
    margin-top: 4%;
    text-align: left;
}

.paragraph10 {
    font-size: 14px;
    margin-top: 4%;
    text-align: left;
    width: 85%;
}

.bord img{
    margin: 1%;
}

.box10{
    padding-top: 5px;
    width: 100%;
    float: right;
}

.bord10{
    display: flex;
    width: 20%;
    margin: 2% 0%;
    margin-bottom: 2%;
}

.text11a{
    padding-top: 1px;
}

.text11{
    color: orange;
}

.title11a {
    width: 70%;
}

.title11b{
    width: 30%;
}

.text11a{
    margin-top: 2px;
    margin-left: 5%;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.text11a:hover{
    text-decoration: none;
}


.text11ab{
    display: flex;
    margin-top: 2px;
}

.bord11q{
    padding-top: 2px;
    display: flex;
}

.bord11q-mobile{
    display: flex;
    justify-content: center;
}

.bord11q img{
    margin: 0.5%;
}

/* Slick Slider  */

.slick-dots{
    display: flex;
    justify-content: center;
    padding: 2px 2px;
}

.slick-dots li{
    display: block;
    background: rgba(124, 124, 124, 0.57);
    border-radius: 50%;
    padding: 2px 2px;
}

.slick-dots button{
    display: block;
    padding: 2px 2px;
    padding: 0;
    border: none;
    border-radius: 50%;
    text-indent: -9999px;
    overflow:hidden;
}


.slick-dots li.slick-active button{
    background-color: #EE7892;
    color: none;
    padding: 12px 12px;
}

#sidebar{
    position: fixed;
    top: 0;
    left: -240px;
    width: 240px;
    height: 100%;
    background-color: #FFFFFF;
    padding-left: 0;
    text-align: left;
    box-sizing: border-box;
}

.logo-m{
    float: right;
}

#sidebar.active{
    left: 0;
}

#sidebar-mobile{
    display: block; 
    padding: 18px;
    font-size: 15px;
    color: #000;
    text-decoration: none;
    text-align: left;
    font-weight: 600;
}

#sidebar-mobile:hover{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #EE7892;
}


/* hamburg  styling*/

.logo-m {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    padding: 22px;
    cursor: pointer;
}


.line {
    position: absolute;
    height: 8px;
    width: 80%;
    background: white;
    border-radius: 8px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
    top: 18%;
}

.middle {
    top: 48%;
}

.bottom {
    top: 78%;
}

.icon.close .top {
    transform: rotate(45deg);
    top: 2%;
    background:#EE7892;
}

.icon.close .middle,
.icon.close .bottom {
    transform: rotate(-45deg);
    top: 2%;
    background:#EE7892;
}
  
  

@media screen and (max-width: 768px) {
    #mobile_icon{
        cursor: pointer;
    }
 
    .title1-mobile {
        margin-top:50% ;
    }
    
    .heading  {
        font-size: 25px;
        line-height: 40px;
    }
    
    .paragraph {
        padding-top: 5px;
    }
    .section6{
        width: 100%;
    }

    .wrap{
        padding: 9%;
    }

    .wrap2{
        padding: 9%;
    }

    .wrap6{
        padding: 3%;
    }

    .bord2{
        flex-flow: column nowrap; 
    } 

    .box1,
    .box4,
    .box6,
    .box7,
    .title11a{
        width: 100%;
    }

    .bord8a{
        padding-left: 30%;
        padding-right: 30%;
    }

    .box2{
        width: 90%;
        justify-content: center;
        text-align: center;
    }

    .box77{
        width: 40%;
    }

   

    .paragraph8,.paragraph88{
        justify-content: center;
        text-align: center;
    }

    .slider-area4a div{
        width: 100%;
    }

    .section8a-slider{
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .header-b,
    .nav-area,
    .section4-slider,
    .section4-tech-stack,
    .section6,
    .section7,
    .section8-slider,
    .section11,
    .title3,
    .bord10{
        display: none;
    } 

    .section7a{
        background-color: #FAFAF6;
    }

    .title2,
    .heading2,
    .paragraph10 {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .title11b {
        width: 90%;
        padding: 2%;
        padding-left: 10%;
    }

    .bord10-mobile{
        display: flex;
        margin: auto;
        padding-top: 2%;
        width: 32.33%;
        justify-content: center;
        text-align: center;
    }

    .space9ab{
        width: 50%;
    }

    .text4-2a{
        margin-top: 16%;
    }

    .text4-2a h2{
        font-weight: bold;
    }

    .text22{
        padding: 5%;
        padding-bottom: 18%;
    }

    .wrap3{
        padding: 0% 7% 4% 7% ;
    }
}


@media screen and (min-width: 768.5px) {
    .mobile-icon,
    .section4a-slider,
    .section4a-tech-stack,
    .section7a,
    .section8a-slider,
    .section11a,
    .bord10-mobile{
        display: none;
    }
}

@media screen and (min-width: 958px) {
    #head-mobile,
    .header-a,
    .sidebar{
        display: none;
    }
}

@media screen and (max-width: 958px) {
     #head-mobile,
     .nav-area,
    .header-b{
        display: none;
    }

    .title1-mobile {
        margin-top:30% ;
    }
}






